<nav>

    <div id="logo">
        <ul>
            <li>
                <img src="/assets/img/im.jpg">
                
            </li>
            <li>Clima</li>
            <li>CHILE</li>
        </ul>
    </div>

    <div id="menu">
        <a [routerLink]="['/']" routerLinkActive="router-link-active">   <button mat-button >valparaiso</button> </a>

        <a [routerLink]="['/metropolitana']" routerLinkActive="router-link-active">   <button mat-button >metropolitana</button> </a>

        <a [routerLink]="['/biobio']" routerLinkActive="router-link-active">  <button mat-button >bio bio</button> </a>

        <a [routerLink]="['/araucania']" routerLinkActive="router-link-active">   <button mat-button >araucania</button> </a>
    </div>
</nav>